div {
  min-height: 720px;
}

.one {
  width: 90%;
  background: pink;
  padding: 20px;
  display: none;
  animation: slide-sideways .3s linear;
}

.oneNew {
  display: block;
}

.two {
  width: 90%;
  background: lightgreen;
  padding: 20px;
  display: none;
  animation: slide-sideways .3s linear;
}

.twoNew {
  display: block;
}

@keyframes slide-sideways {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
