html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Verdana', 'Arial', 'Sans-serif';
  font-weight: 400;
  color: #666666;
}

h2 {
  text-align: center;
}

.container {
  height: 98vh;
}

.navbar {
  background-color: #464749;
  width: 100%;
  max-height: 40px;
  min-height: 44px;
  display: inline-block;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  color: #ffffff;
}

.navbar ul li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.pages {
  min-height: 100%;
  width: 100%;
  background: #f08080;
  display: none;
  animation: slide-sideways .3s linear;
}

@keyframes slide-sideways {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.banner {
  background-image: url("../../images/geekskool.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-height: 100%;
}

.apply>button {
  margin-top: 34%;
  margin-left: 0px;
  padding: 7px;
  font-size: 20px;
  color: #ec9d90;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #ec9d90;
  z-index: 100;
}

.apply>button:hover {
  color: #ffffff;
  background-color: #ec9d90;
  cursor: pointer;
}

.footer {
  /* position: fixed; */
  width: 100%;
  /* right: 0; */
  /* left: 0; */
  /* bottom: 0; */
  /* width: 100%; */
  background-color: #d3d3d3;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.one {
  justify-self: center;
  grid-column: 2;
  grid-row: 3;
}

.applyBtn {
  /* margin-top: 34%; */
  /* margin-left: 0px; */
  padding: 7px;
  font-size: 20px;
  color: #ec9d90;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #ec9d90;
  z-index: 100;
}

.applyBtn:hover {
  color: #ffffff;
  background-color: #ec9d90;
  cursor: pointer;
}

.button,
.applyBtn:focus {
  outline: none;
}

.logo {
  float: left;
  padding: 10px 0px 0px 10px;
  display: inline-block;
}

.logo img {
  margin: -12px;
}

.columntxt {
  margin: 0;
  width: 100%;
  padding: 10px;
  text-align: justify;
  box-sizing: border-box;
  width: 33%;
  min-height: 172px;
  float: left;
}

.one {
  float: left;
}

.text {
  text-align: center;
  margin-bottom: 20px;
  clear: both;
  padding: 10px;
}
